In [2]:
#install the package to make a bridge between the python and MYSQL
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda3\lib\site-packages (8.0.21)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda3\lib\site-packages (from mysql-connector-python) (3.13.0)
Requirement already satisfied: six>=1.9 in d:\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in d:\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.4.0)

In [4]:
#import the mysqlconnector and check whether the connection is established or not. 
import mysql.connector as connection
mydb = connection.connect(host='localhost', user = 'root', passwd = 'Jasvee@20', use_pure = True)
mydb

In [6]:
#Show list of database
#Create Cursor - It just creating the pointer and it starts or pointing on the initial place of the first index.
cur = mydb.cursor()
cur.execute("show databases")
res = cur.fetchall()
res

[('amar',),
 ('amarnath',),
 ('information_schema',),
 ('jasvee_adithri',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [7]:
#fetch the particular database
res[3]

('jasvee_adithri',)

In [8]:
res[3][0]

'jasvee_adithri'

In [9]:
for i in res:
    print(i[0])

amar
amarnath
information_schema
jasvee_adithri
mysql
performance_schema
sakila
sys
world

In [11]:
#Try except
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', user = 'root', passwd = 'Jasvee@20', use_pure = True)
    query = 'SHOW DATABASES'
    cursor = mydb.cursor()
    cursor.execute(query)
    #Fetchall
    print(cursor.fetchall())
except Exception as e:
    #close the connection
    mydb.close()
    print(str(e))

[('amar',), ('amarnath',), ('information_schema',), ('jasvee_adithri',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [14]:
#Create a new database
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', user = 'root', passwd = 'Jasvee@20', use_pure = True)
    #Check if the connection is established or not
    print(mydb.is_connected())
    
    query1 = 'Create database JAjas;'
    cursor1 = mydb.cursor()
    cursor1.execute(query1)
    #print(cursor1.fetchall())
    print("Database created")
except Exception as e:
    mydb.close()
    print(str(e))

True
Database created

In [16]:
#Create a table inside the database
import mysql.connector as connection

try:
    #Add one parameter - database
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    #Check if the connection is established or not
    print(mydb.is_connected())
    
    query2 = 'Create table jasdet (StudentId INT(10), FirstName Varchar(30), LastName varchar(30), Class varchar(10), Section varchar(5))'
    cursor2 = mydb.cursor()
    cursor2.execute(query2)
    print('Table Created')

except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created

In [19]:
#Insert values into the table
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    print(mydb.is_connected())
    
    query3 = "INSERT INTO jasdet VALUES (20,'Jasvee','Adithri','MBBS','A')" #date - yyyy-mm-dd
    cursor3 = mydb.cursor()
    cursor3.execute(query3)
    print('Values are inserted successfully')
    #Commit 
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values are inserted successfully

In [21]:
#Fetch the data from the table
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    print(mydb.is_connected())
    
    query4 = "SELECT * FROM jasdet"
    cursor4 = mydb.cursor()
    cursor4.execute(query4)
    for result in cursor4.fetchall():
        print(result)
        
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
(20, 'Jasvee', 'Adithri', 'MBBS', 'A')
(20, 'Jasvee', 'Adithri', 'MBBS', 'A')

In [23]:
#Fetch the Specific data or column from the table
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    print(mydb.is_connected())
    
    query5 = "SELECT FirstName, LastName from jasdet"
    cursor5 = mydb.cursor()
    cursor5.execute(query5)
    for result in cursor5.fetchall():
        print(result)
        
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
('Jasvee', 'Adithri')
('Jasvee', 'Adithri')

In [24]:
#Update the value
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    print(mydb.is_connected())
    
    query6 = "UPDATE jasdet set FirstName = 'JASVEE', LastName =  'ADITHRI' WHERE StudentId = 20"
    cursor6=mydb.cursor()
    cursor6.execute(query6)
    mydb.commit()
    print("Values are updated successfully")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Values are updated successfully

In [25]:
#Delete the value
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    print(mydb.is_connected())
    
    query6 = "DELETE FROM jasdet WHERE StudentId = 22"
    cursor6=mydb.cursor()
    cursor6.execute(query6)
    mydb.commit()
    print("Deleted successfully")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Deleted successfully

In [28]:
! pip install pandas

Requirement already satisfied: pandas in d:\anaconda3\lib\site-packages (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)

In [29]:
#Show the data's in the form of Table format
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    print(mydb.is_connected())
    
    query7 = "SELECT * FROM jasdet"
    result_dataframe = pd.read_sql(query7,mydb)
    print(result_dataframe)
        
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
   StudentId FirstName LastName Class Section
0         20    JASVEE  ADITHRI  MBBS       A
1         20    JASVEE  ADITHRI  MBBS       A
2         21        Ja  Adithri   MBA       B

In [30]:
result_dataframe

   StudentId FirstName LastName Class Section
0         20    JASVEE  ADITHRI  MBBS       A
1         20    JASVEE  ADITHRI  MBBS       A
2         21        Ja  Adithri   MBA       B

In [31]:
#Save the record in CSV format
result_dataframe.to_csv('Eg.csv')

In [34]:
#Insert the CSV records to the another table
import mysql.connector as connection

try:
    #Add one parameter - database
    mydb = connection.connect(host='localhost',user='root',passwd='Jasvee@20',database='jajas',use_pure=True)
    #Check if the connection is established or not
    print(mydb.is_connected())
    
    query8 = 'Create table jasdetails1 (StudentId INT(10), FirstName Varchar(30), LastName varchar(30), Class varchar(10), Section varchar(5))'
    cursor8 = mydb.cursor()
    cursor8.execute(query8)
    csv_data = pd.read_csv('Eg.csv')
    #Give table name and connection database name 
    csv_data.to_sql('jasdetails1',mydb)
    mydb.commit()
    print('Table Created')
    mydb.closese()

except Exception as e:
    mydb.close()
    print(str(e))

True
Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [37]:
#CSV to SQL
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Jasvee@20",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="Jasvee@20", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
Database Created!!
Table Created!!
Values inserted!!